<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

  <connectionStrings>
    <add name="camionesString"
        connectionString="Data Source=Localhost;Initial Catalog=TSM_OSORNO_TRABAJO;Persist Security Info=True;User ID=FcoT;Password=090909"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>